<%- include("../partials/header.ejs") %>

<div class="container">
  <h1 class="text-center">Add New Comment to <%= campground.name %></h1>
  <div style="width: 30%; margin: 25px auto;">
    <form action="/campgrounds/<%= campground._id %>/comments" method="POST" class="form-horizontal" id="commentForm" role="form"> 
      <div class="form-group">
        <input type="text" class="form-control" name="comment[text]" placeholder="Comment">
      </div>
      <div class="form-group" class="text-center">
        <input type="text" class="form-control" name="comment[author]" placeholder="Name">
      </div>
      <div class="form-group">
        <button type="Submit" class="btn btn-primary btn-lg btn-block">Submit</button>
      </div>
      <a href="/campgrounds">Go Back</a>
    </form>
  </div>
</div>

<%- include("../partials/footer.ejs") %>