<%- include("partials/header") %>


<h1>WELCOME TO YELPCAMP</h1>
<a href="/campgrounds">view all campgrounds</a>
<br>
<a href="/campgrounds/new">add new campground</a>


<%- include("partials/footer") %>
